@font-face {
  font-family: 'WorkSansReg';
  src: url('./assets/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSansBold';
  src: url('./assets/fonts/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSansLight';
  src: url('./assets/fonts/WorkSans-Light.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSansBoldItalic';
  src: url('./assets/fonts/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'itim';
  src: url('./assets/fonts/Itim-Regular.ttf') format('truetype');
  
  font-style: normal;
}

@font-face {
  font-family: 'lora';
  src: url('./assets/fonts/Lora-Regular.ttf') format('truetype');
  font-style: normal;
}